<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim_choir.dao.ContactDao">

	<!-- 获取联系方式记录 -->
	<select id="find" resultType="Contact">
		SELECT * from t_contact;
	</select>

	<!-- 更新数据 -->
	<update id="update" parameterType="Contact">
		UPDATE t_contact SET
		weixin=#{weixin},room=#{room},tel1=#{tel1},tel2=#{tel2},tel3=#{tel3},email=#{email}
	</update>
	
	<!-- 获取指挥特辑内容 -->
	<select id="findPreOfConductor" resultType="String">
		SELECT presentation from t_conductor
	</select>
	
	<!-- 修改指挥特辑的内容 -->
	<update id="updatePreOfConductor" parameterType="String">
		UPDATE t_conductor SET presentation=#{_parameter}
	</update>
</mapper>