<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sim_choir.dao.IntroductionDao">
	<!-- 
	<resultMap type="Introduction" id="IntroductionResult">
		<id property="id" column="id"/>
		<result property="content" column="content"/>
		<result property="sdate" column="sdate"/>
		<result property="edate" column="edate"/>
	</resultMap> -->
	
	<!-- 获取所有记录 -->
	<select id="find" resultType="Introduction">
		SELECT * FROM t_introduction
	</select>
	
	<!-- 修改记录 -->
	<select id="setIntroduction" parameterType="Introduction">
		UPDATE t_introduction SET introdution = #{introdution},presentation=#{presentation}
	</select>
	
	
</mapper>